<% layout("/layouts/boilerplate.ejs")%>
<body>
  <h1>All Listings</h1>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% allListings.map((x) => { %>
    <div class="card" style="width: 18rem">
      <img src="<%= x.image.url %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          <%= x.title %> <br />
          &#8377; <%= x.price.toLocaleString("en-IN") %>
        </p>
      </div>
    </div>
    <% }) %>
  </div>
</body>
