<% layout("/layouts/boilerplate.ejs")%>

<div class="container mt-5">
  <h1 class="mb-4">Create a New Listing</h1>
  <form
    method="post"
    action="/listings"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        name="x[title]"
        class="form-control"
        placeholder="Title"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea
        name="x[description]"
        id="description"
        class="form-control"
        placeholder="Description"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Upload Your Image</label>
      <input type="file" name="x[image]" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Price</label>
      <input
        type="number"
        name="x[price]"
        class="form-control"
        placeholder="Price"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input
        type="text"
        name="x[location]"
        class="form-control"
        placeholder="Location"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Country</label>
      <input
        type="text"
        name="x[country]"
        class="form-control"
        placeholder="Country"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
